<h1>Cadastro de Fabricantes</h1>

<hr />

<form action="/Fabricante/Cadastrar" method="post">
    <a href="/Fabricante/Index">Visualizar Fabricantes</a>
    <br />
    <label>Nome:</label>
    <br />
    <input name="Nome"/>
    <br />
    <label>Email:</label>
    <br />
    <input name="Email" />
    <br />
    <label>Telefone:</label>
    <br />
    <input name="Telefone" />
    <br />
    <br />
    <button>Salvar</button>
</form>