@using  GestaoDeEquipamentos.Dominio.ModuloFabricante;
@model List<Fabricante>

<h1>Visualização de Fabricantes</h1>

<hr />

<a href="/Fabricante/Cadastrar">Cadastrar Fabricante</a>

@* <ul>
    <li>exemplo</li>
</ul> *@