@using  GestaoDeEquipamentos.Dominio.ModuloFabricante;
@model List<Fabricante>

<h1>Visualização de Fabricantes</h1>

<hr />

<a href="/Fabricante/Cadastrar">Cadastrar Fabricante</a>

@if (Model != null && Model.Count > 0)
{
    <h3>Nome| Email | Telefone</h3>
    <ul>
        @foreach(Fabricante f in Model)
        {
            <li>@f.Nome | @f.Email | @f.Telefone | <a href="/Fabricante/Editar/@f.Id">Editar</a> | <a href="/Fabricante/Excluir/@f.Id">Excluir</a> </li>
        }
    </ul>
}
else
{
    <h2>Ainda não há Fabricantes!</h2>
}